body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background: #e5e5e5;
}

.with-menu {
  background: #fff;
}

.with-menu .logo {
  font-size: 18px;
  font-weight: 700;
  color: #6070ff;
}

.with-menu button {
  border: none;
  color: #fff;
}

.with-menu ul a {
  font-size: 15px;
  font-weight: 500;
  color: #344563;
}

.background {
  background: #fff;
  border-bottom-left-radius: 120px;
}

.background .container {
  background: url("/assets/img/Header\ bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: -12%;
}

.background .intro {
  padding: 30% 20%;
}

.main-text {
  font-size: 48px;
  font-weight: 700;
  color: #091e42;
  letter-spacing: 0.37px;
}

.sub-text {
  font-size: 20px;
  font-weight: 400;
  color: #344563;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  color: #7f8cff;
}

.projects {
  margin-top: 8rem;
  margin-bottom: 2.02rem;
}

.projects .container {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  width: 1156px;
}

.projects .container:nth-child(2n) .projects .col-md-6 {
  order: 1;
}

.projects .card {
  border: none;
}

.projects .demo {
  width: 457px;
}

.projects .card-title {
  font-size: 40px;
  color: #091e42;
}

.projects li {
  font-size: 18px;
  font-weight: 400;
  color: #6b778c;
}

.projects .author {
  color: #344563;
  font-weight: 500;
}

.projects .tag {
  background: #ebebff;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.btn-details {
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #396df2;
  cursor: pointer;
  transition: 0.5s;
}

.btn-details:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.projects .btn-details:active {
  background: #2230d2;
  color: #fff;
}

.about-me {
  background: #fff;
  margin-top: 70px;
  border-top-right-radius: 120px;
  padding: 0 30px;
  padding-top: 8%;
  padding-bottom: 10%;
}

.about-me .btn-details:active {
  background: #2230d2;
  color: #fff;
}

.about-me .card {
  width: 120px;
  height: 97px;
  background: #f7f7f9;
  border-radius: 10px;
}

.contact-me {
  background: #6070ff;
  margin-top: -7%;
  padding: 40px 24px;
  border-top-left-radius: 100px;
}

.contact-me .container {
  min-height: 80vh;
  background: url(/assets/img/desktop-shape.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 20%;
  padding-left: 20%;
  padding-right: 20%;
}

/* -------------------------------------------------------------------------------------------------- */
.contact-me h2 {
  font-size: 48px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.37px;
}

.contact-me p {
  color: white;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 70px;
  color: white;
  margin-bottom: 0;
  min-height: 80vh;
  background-image: url("./resources/Desktop-version/images/contact\ form\ background\ shapes@2x.png");
  background-size: 85%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.title-form {
  padding-top: 70px;
  font-family: Poppins-bold, sans-serif;
  color: white;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.subtitle-form {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-left: 31vw;
  margin-right: 31vw;
}

.form-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 30vw;
  padding-left: 20px;
}

.form-ul li {
  padding-top: 20px;
}

.form-ul input {
  color: #172b4d;
  border-radius: 5px;
  font-family: Poppins, sans-serif;
  border: 1px solid #cfd8dc;
  background-color: #fff;
  width: 30vw;
  height: 5vh;
}

.form-ul input::placeholder {
  color: #031bf0;
}

.form-ul textarea {
  color: black;
  border-radius: 5px;
  font-family: Poppins, sans-serif;
  border: 1px solid #cfd8dc;
  background-color: #fff;
  width: 30vw;
  height: 20vh;
}

.form-ul textarea::placeholder {
  color: #031bf0;
}

.form-ul button {
  margin-top: 15px;
  color: #6070ff;
  border-radius: 5px;
  font-family: Poppins, sans-serif;
  border: 1px solid #cfd8dc;
  background-color: #fff;
  width: 125px;
  height: 40px;
  margin-left: 32%;
}

.form-ul button:hover {
  font-family: Poppins, sans-serif;
  background-color: #6070ff;
  color: #fff;
  border: 1px solid white;
}

.form-ul button:active {
  background-color: #2230d2;
  color: white;
  border: 1px solid white;
}

.form-ul button:disabled {
  background-color: white;
  color: #5e6c84;
  border: 1px solid #5e6c84;
}
